body {
  background-color: $color-black;
  font-family: $font-primary;
  cursor: url('../resources/pickle.cur'), auto;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  padding-top: 2vh;
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*/

.App-header {
  background-color: $color-black;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.errorText {
  color: $color-primary;
  text-align: center;
}

.back__btn {
  display: block;
  margin: 20px;
  padding: 2px 10px;
  background: #98C849;
  text-align: center;
  border-radius: 20px;
  border: #36B0C7 solid;
  box-shadow: 0px 0px 50px -18px #36B0C7;
  font-size: 15px;
}

/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
