$font-primary: 'Roboto', sans-serif;
$defaultFontSize: 16;

$color-primary: #98C849;
$color-secondary: #36B0C7;
$color-complementary: teal;
$color-text: #11314d;
$color-white: #ffffff;
$color-black: #000000;
$color-modal: rgba(17, 49, 77, 0.50);
//$color-modal: #eeec;